.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  height: 70px;
  background-color: #fff;
  h1 {
    background-image: url($url + "logo.png");
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    width: 55px;
    height: 35px;
    span {
      clip: rect(0, 0, 0, 0);
      position: absolute;
      overflow: hidden;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 20px;
    li a {
      padding: 0 8px 0 0;
      font-size: 12px;
    }
  }
  .fixed {
    position: fixed;
    background: #313131;
    color: #fff;
  }
}
